NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
LEMONSQUEEZY_API_KEY=your_lemonsqueezy_api_key
LEMONSQUEEZY_STORE_ID=your_lemonsqueezy_store_id
LEMONSQUEEZY_BASIC_MONTHLY_VARIANT_ID=1853880
LEMONSQUEEZY_PRO_MONTHLY_VARIANT_ID=1853913
LEMONSQUEEZY_ULTRA_MONTHLY_VARIANT_ID=1853915
LEMONSQUEEZY_BASIC_YEARLY_VARIANT_ID=
LEMONSQUEEZY_PRO_YEARLY_VARIANT_ID=
LEMONSQUEEZY_ULTRA_YEARLY_VARIANT_ID=
LEMONSQUEEZY_WEBHOOK_SECRET=your_lemonsqueezy_webhook_secret
