NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
PADDLE_API_KEY=
PADDLE_ENVIRONMENT=production
NEXT_PUBLIC_PADDLE_ENVIRONMENT=production
PADDLE_CHECKOUT_URL=https://comvexa.xyz/paddle-checkout
NEXT_PUBLIC_APP_URL=https://comvexa.xyz
PADDLE_WEBHOOK_SECRET=
OPENAI_API_KEY=
OPENAI_SUPPORT_MODEL=gpt-5.5
PADDLE_BASIC_MONTHLY_PRICE_ID=pri_01kwk4bkm7y5h2e65jqnchk0n9
PADDLE_BASIC_YEARLY_PRICE_ID=pri_01kwk4g53xtzv1wpj72hk66qge
PADDLE_PRO_MONTHLY_PRICE_ID=pri_01kwk4kjnae6t4mz6sm9zyzd2f
PADDLE_PRO_YEARLY_PRICE_ID=pri_01kwk4n0g6xjfdy94snsrg7vyf
PADDLE_ULTRA_MONTHLY_PRICE_ID=pri_01kwk4qmszmyqfcget635s7kq8
PADDLE_ULTRA_YEARLY_PRICE_ID=pri_01kwk4rqns3qf1dg8fb03qtr58
